<div class="upload-form">
    <form *ngIf="csvForm" [formGroup]="csvForm" class="form-class">
        <ngx-file-drag-drop
            formControlName="fileField"
            activeBorderColor="#3F51B5"
            (valueChanged)="setFile($event)"
            class="file-upload"
            id="fileField"
        >
        </ngx-file-drag-drop>

        <mat-form-field appearance="fill" class="title-input">
            <input
                matInput
                placeholder="Enter"
                type="text"
                id="titleField"
                class="csv-title form-control"
                (input)="setTitle($event)"
                formControlName="titleField"
                required
            />
        </mat-form-field>

        <button
            mat-raised-button
            color="accent"
            class="upload-form-button"
            (click)="onUpload()"
        >
            Upload
        </button>

        <div
            *ngIf="titleField?.invalid && (titleField?.dirty || titleField?.touched) && showTitleError"
            class="alert alert-danger"
        >
            <div *ngIf="titleField?.errors?.required && showTitleError">
                Title is required.
            </div>
            <div *ngIf="titleField?.errors?.minlength && showTitleError">
                Title must be at least 2 characters long.
            </div>
        </div>
        <div
            *ngIf="fileField?.invalid && (fileField?.dirty || fileField?.touched) && showFileError"
            class="alert alert-danger"
        >
            <div *ngIf="fileField?.errors?.required">File is required.</div>
            <!-- <div *ngIf="fileField?.errors?.minlength">File must be a CSV</div> TODO: Add custom validator for CSV format-->
        </div>
    </form>
</div>
